html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;

}

.container {
  display: flex;
  flex-direction: row;
}

.titulo {
  width:220px;
  height:68px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
}

.titulo-side-bar {
  position: absolute;
  left: 9.09%;
  right: 10%;
  top: 0%;
  bottom: 0%;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.logo{
position: static;
width: 220px;
height: 258px;
left: 0px;
padding-top: 68px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;

}

.menu-side{
  width:220px;
  height:1750px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -90.44%;  
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}

.apresentacao , .comites , .autores, .eixos, .trabalhos , .contato{
  width:220px;
  height:33px;
  margin:0px;
  border-bottom: 2px solid #E7E7E7;

}

.p-apresentacao , .p-comites , .p-autores, .p-eixos, .p-trabalhos , .p-contato{


padding-left: 10.91%;
padding-right: 44.09%;
padding-top:7px;
margin-top: 20%;
padding-bottom: 25.71%;
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 19px;
color: #725C5C;
margin:0px;
}






.side-bar{
 

}

.header{
  position: absolute;
  width: 1146px;
  height: 68px;
  left: 220px;
  top: 0px;  
  background: #FDF1EB;

}

.texto-header{
  position: absolute;
  color: #725C5C;
  font-family: Roboto;

}

.linha1{
position: absolute;
width: 391px;
height: 16px;
left: 36px;
top: 5px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
margin:0px;

}



.linha2{
  position: absolute;
  width: 643px;
  height: 26px;
  left: 36px;
  top: 23px;  
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin:0px;


}

.linha3{

position: absolute;
width: 105px;
height: 16px;
left: 36px;
top: 48px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
margin:0px;

}


.botao-idioma{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 97px;
  height: 34px;
  margin-left: 789px;
  top: 17px; 
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 3px;
  background: #FDF1EB;
  cursor: pointer;

}



.icone-idioma{  
  width: 22px;
  height: 21px;
  margin-top:2px;

}

.idioma-texto{
margin-top:6px;
margin-left:6px;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #645757;

}

.dropdown-idioma{

  width: 6px;
  height: 4px;
  padding-left: 6px;
  margin-top:12px;
  
}

.perfil{

position: absolute;
width: 202px;
height: 34px;
left: 908px;
top: 17px;

}

.bem-vindo{

  position: absolute;
  margin-top:0px;
  width: 72px;
  height: 18px;  
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;  
  color: #333333;
  right: 35px;
  


}

.email{
  position: absolute;
  width: 163px;
  height: 15px;
  top: 7px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;  
  color: #333333;

}

.img-perfil{
  position: absolute;  
  right: 2.53%;
  border-radius:50%;

  
  
}

.notificacao{
  position: absolute;
  left: 92.81%;
  right: 3.14%;
  top: 0px;
  bottom: 65.35% !important;


}

.content{

position: absolute;
width: 1059px;
height: 1382px;
left: 263px;
top: 88px;

}


.video-container{
position: absolute;
width: 1059px;
height: 1382px;

}

.texto-video{

position: absolute;
height: 54px;
padding-left: 0px;
right: 273px;
top: 0%;
margin:0px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.05em;
color: #ED7839;

}

.video{
position: absolute;
width: 784px;
height: 439px;
padding-left: 2px;
top: 73px;
}


.video-detalhes{

display:flex;
flex-direction: row;


}


.detalhes{

  position: absolute;
  width: 242px;
  height: 439px;
  padding-left: 816px;
  


}



.download{
  width:120px;
  height:31px;
  position: absolute;
  left: 79.51%;
  right: 9.16%;
  top: 0%;
  bottom: 98.23%;  
  background: #ED7839;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  }

  .download-texto{
position: absolute;
height: 19px;
left: 36px;
right: 12px;
top: calc(50% - 19px/2);
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 4px;

  }


  .estrela{
  width:43px;
  height:31px;
  position: absolute;
  left: 91.31%;
  right: 4.63%;
  top: 0%;
  bottom: 97.76%;
  background: #ED7839;
  border-radius: 4px;
  border:none;
  cursor: pointer;



  }


  .doi{
width:43px;
height:31px;
position: absolute;
left: 95.85%;
right: 0.09%;
top: 0%;
bottom: 97.76%;
background: #ED7839;
border-radius: 4px;
border:none;
cursor: pointer;


  }

.texto-citar{

  position: absolute;
  height: 25px;
  left: 820px;
  right: 0px;
  margin-top: 43px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */
  
  text-align: right;
  letter-spacing: 0.05em;
  
  color: #ED7839;
  

}

.bloco-detalhes{
  position: absolute;
  width: 242px;
  height: 439px;
  left: 816px;
  top: 73px;
  
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px;

}



.bloco-titulo{
  position: absolute;
  width: 242px;
  height: 45px;
  left: 816px;
  top: 73px;
  background: #FDF1EB;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  }

  .titulo-detalhes{

    position: absolute;
    width: 212px;
    padding-left: 15px;
    top: 0px;
    bottom: 1273px;    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    
    color: #4E4E4E;
    }

    .infos-detalhes{

position: absolute;
width: 212px;
height: 364px;
padding: 60px 15px 15px 15px;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 120%;
letter-spacing: 0.02em;
color: #5C5C5C;

    }


.bloco-resumo{

position: absolute;
width: 1058px;
height: 45px;
left: 0px;
background: #FDF1EB;
border: 1px solid #ECECEC;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;


}

.resumo-titulo{

  margin: 10px 15px 15px 0px;
  width: 1028px;
  padding-left: 15px;
  top: 552px;
  bottom: 805px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;  
  color: #4E4E4E;


}

.resumo{
  position: absolute;
  width: 1058px;
  height: 189px;
  left: 0px;
  top: 542px;  
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px;


}

.texto{
display:flex;
flex-direction: row;


}

.texto-resumo{

  position: static;
  width: 1028px;
  height: 114px;
  margin-top: 60px;
  padding-left: 15px;
  padding-right:15px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;  
  color: #5C5C5C;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
 

}

.ver-mais{

  z-index:1; 
  position: absolute;
  margin-top: 151px;
  margin-left: 550px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;  
  color: #5C5C5C;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;


}

.bloco-discussoes{

position: absolute;
width: 1058px;
height: 45px;
left: 0px;
background: #FDF1EB;
border: 1px solid #ECECEC;
box-sizing: border-box;
border-radius: 3px 3px 0px 0px;


}

.discussoes-titulo{
  margin: 10px 15px 15px 0px;
  width: 1028px;
  padding-left: 15px;
  top: 552px;
  bottom: 805px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;  
  color: #4E4E4E;


}


.discussoes{
  position: absolute;
  width: 1058px;
  height: 621px;
  left: 0px;
  top: 761px;
  
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px;


}

.compartilhar{
  padding-left: 30.64%;
  padding-right: 29.51%;
  padding-top:45px;
  bottom: 39%;  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;  
  color: #ED7839;


}

.icone1{


  position: absolute;
  width: 50.26px;
  height: 48.94px;
  left: 402.5px;
 


}

.icone2{
  
position: absolute;
left: 47.64%;
right: 47.61%;

}

.icone3{

position: absolute;
left: 57.46%;
right: 37.79%;


}


.texto-discussao{


left: 20.44%;
right: 20.44%;
margin-top: 111px;
bottom: 28.15%;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #595959;


}

.divisoria{


width: 1027px;
height: 0px;
margin-left: 16px;
margin-top:31px;
border: 1px solid #E7E7E7;


}

.botao-discussao{
width:133px;
height:32px;
z-index:1;
position: absolute;
margin-left: 43.72%;
margin-right: 43.72%;
margin-top:-18px;
background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
border-radius: 4px;
border:none;
display: flex;
flex-direction: row;
}

.icone-criar{
  
  


}


.cria-topico{
  width:83px;
  height:16px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;  
  text-align: center;  
  color: #FFFFFF;
  padding: 0px 9px 6px 0px;


}

.pergunta1{
  width:1028px;
  height:148px;  
  margin-left: 1.42%;
  margin-right: 1.51%;
  margin-top:30px; 
  bottom: 13.02%;  
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;



}

.pergunta2{

  width:1028px;
  height:148px;  
  margin-left: 1.42%;
  margin-right: 1.51%;
  margin-top:17px; 
  bottom: 1.09%;  
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;



}

.assunto1 , .assunto2{
  padding-left: 3.7%;
  padding-right: 71.09%;  
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ED7839;
  margin-bottom:0px;
  margin-block-end: 0px;



}

.pessoa1 , .pessoa2{


  padding-left: 3.7%;
  padding-right: 45.11%;
  bottom: 19.75%;  
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
  margin-block-start:0px;


}

.topico1 , .topico2{

  padding-left: 3.7%;
  padding-right: 3.7%;
  bottom: 16.5%;  
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;  
  color: #4D4D4D;


}

.icones-pergunta1 , .icones-pergunta2{

display:flex;
flex-direction: row;


}


.icone-infos{



  width: 4px;
  height: 18px;
  padding-left: 39px;
 



}

.botao-favoritar{
  width:27px;
  height:19px;
  margin-left: 15px;
  right: 91.97%;
  background: #ED7839;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  border:none;

}


.like1 , .like2{
  margin-top:0px;
  padding-left: 15px;
  right: 87.82%;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 19px;
  color: #757575;


}

.resp1 , .resp2{
  margin-top:0px;
  padding-left: 15px;
  right: 87.82%;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 19px;
  color: #757575;



}



.footer{

  position: absolute;
  width: 1146px;
  height: 181px;
  left: 220px;
  top: 1520px;

}

.img-footer{

margin-left:14px;


}